
@{
    ViewData["Title"] = "_Error";
}

<div>
    <h1>Error</h1>
    <p>An error occurred while processing your request. Please call technical support for assistance.</p>
    <img src="~/ProjectImages/Error.jpg" alt="Error Image" class="mx-auto d-block" />
</div>
