
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="text-center bg-body-tertiary fixed-bottom bg-dark text-white ">
  <!-- Grid container -->
  <div class="container pt-4">
  <div class="text-center p-3">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">Mary</a>
  </div>
  </div>
</footer>