
@{
    ViewData["Title"] = "_PageNotFound";
}

<h1>_PageNotFound</h1>
    <div>
    <h1>4o4</h1>
    <p>The requested page could not be found.</p>
    <img src="~/ProjectImages/notFound.jpg" alt="Error Image" class="mx-auto d-block" />
</div>

