@{
    ViewData["Title"] = "Not Authorized";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Not Authorized</h1>
        <img src="~/ProjectImages/A.png" alt="Error Image" class="img-fluid mt-4 mb-4" style="max-width: 300px;" />
        <p class="lead">You are not authorized to access this resource.</p>
        <p class="lead">Please <a asp-area="" asp-controller="Account" asp-action="Index" class="btn btn-primary">Log In</a>.</p>
    </div>
</div>

