@model UDFirstTask.DTOs.NewInformationDTO

@{
    ViewData["Title"] = "Create";
}
<script src="https://cdn.tiny.cloud/1/xzw9uf115zrip968vgpxohqs3q3it8m08wykhjg95m90l5er/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<h1>Create</h1>
<hr />
<form method="post" enctype="multipart/form-data" asp-action="SaveInfo" asp-controller="Information">
    <div class="form-group mt-4 col-md-4">
        <label asp-for="EnglishTitle" class="control-label">English Title</label>
        <input asp-for="EnglishTitle" class="form-control" />
        <span asp-validation-for="EnglishTitle" class="text-danger"></span>
    </div>

    <!-- English Description -->
    <div class="form-group mt-4">
        <label asp-for="EnglishDescription" class="control-label">English Description</label>
        <textarea asp-for="EnglishDescription" class="form-control" id="englishDescriptionTextArea" rows="4"></textarea>
        <span asp-validation-for="EnglishDescription" class="text-danger"></span>
    </div>

    <!-- Arabic Title -->
    <div class="form-group mt-4 col-md-4">
        <label asp-for="ArabicTitle" class="control-label">Arabic Title (العنوان)</label>
        <input asp-for="ArabicTitle" class="form-control" />
        <span asp-validation-for="ArabicTitle" class="text-danger"></span>
    </div>

    <!-- Arabic Description -->
    <div class="form-group mt-4">
        <label asp-for="ArabicDescription" class="control-label">Arabic Description (الوصف)</label>
        <textarea asp-for="ArabicDescription" class="form-control" id="arabicDescriptionTextArea" rows="4"></textarea>
        <span asp-validation-for="ArabicDescription" class="text-danger"></span>
    </div>

    <!-- Image upload -->
    <div class="form-group mt-4 col-md-6">
        <label asp-for="Image.ImageFile" class="form-label">Upload your Image</label>
        <input asp-for="Image.ImageFile" type="file" class="form-control" id="formFile">
        <span asp-validation-for="Image.ImageFile" class="text-danger"></span>
    </div>

      <div class="form-group mt-4">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    tinymce.init({
        selector: '#englishDescriptionTextArea',
        height: 300,
        plugins: 'advlist autolink lists link image charmap print preview anchor',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image',
    });

    tinymce.init({
        selector: '#arabicDescriptionTextArea',
        height: 300, 
        plugins: 'advlist autolink lists link image charmap print preview anchor',
        toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | link image',
    });
</script>
